.app-shell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300vh;
  overflow: auto;
  padding: 1em;
}

.app-shell h1 {
  font-size: clamp(1em, 2em, 3em);
}